.faq {
    min-height: 90vh;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
    color: white;
}
.faq h2{
    padding-bottom: 2rem;
    font-weight: 300;
}
 .faq span{
    display: block;
     }
.faq-line{
    background: #23d977;
    height: 0.2rem;
    margin: 2rem 0rem;
    width: 100%;
}
.quescion{
    padding: 3rem 0rem;
    cursor:pointer;
}
.answer{
    padding: 2rem 0rem;
}
.answer p{
    padding: 1rem 0rem;
}
